body{
	background-color: #414042;
	color: #fff;
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 16px;
    background-image: url("http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/binding_dark.png");
}

h1{
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 700;
    letter-spacing: 1px;
}

h3{
	color: #337ab7;
	text-decoration-style: bold;
}

 a:link {
    text-decoration-style: bold;
    color: #337ab7;
}
a:visited{
    text-decoration-style: bold;
    color: #337ab7;

}
a:active{
    text-decoration-style: bold;
    color: #337ab7;
}

.navbar{
	margin-bottom: 0;
    border-bottom: 1px solid;
	text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	background-color: #272629;
	border-color: transparent;
}

.navbar .navbar-brand{
	width: 240px;	
	color: #00B064;
	text-align: center;
}
.navbar-default .navbar-nav > li > a {
	
    color: #00B064;
}
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    color: #00B064;
    background-color: #4b4851;
    
 }
 .btn {
    border-radius: 18;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    width: 165px;
}

.btn-default {
    border: 1px solid #337ab7;
    color: #337ab7;
    background-color: #272629;
}

.btn-default:hover,
.btn-default:focus {
    border: 1px solid #337ab7;
    outline: 0;
    color: #fff;
    background-color: #337ab7;
}

div.img {
    margin: 5px;
    border: 3px solid #777;
    float: left;
    width: auto;
}

div.img:hover {
    border: 3px solid #337ab7;
}

div.img img {
    width: auto;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

.panel {
    border-color: #656169;
    background-color: transparent;
}

.panel-title{
    background-color: #272629;
}

.panel-group{
    background-color: #ababab;
}

.panel-default > .panel-heading{
    background-color: #272629;
}
footer{

    background-color: #414042;

}

footer img{
    
    width: 70px;
    height: 50px;
}

footer i{
    color: #272629;
}

footer i:hover,i:active{
    color: #fff;
    background-color: transparent;
}
.form-horizontal i{

    width: 64px;
    height: 64px;
    background-color: transparent;
}

.form-horizontal i:hover, .form-horizontal i:active{
    color: #337ab7;
    
}