footer{
    border-top: 2px solid #646464;
    padding-top: 10px;
	margin-top: 30px;
 	font-size: 10px; 	
 	text-align: center;
 	color: #515151;
 }
footer a:link, footer a:active, footer a:visited{
 	color: #515151;
 	text-decoration: none; 	
 }

 footer a:hover{
 	color: #777777;
 	text-decoration: none;
 }
.dropzone.dz-clickable {
    cursor: pointer;
}
.dropzone {
	margin-top: 30px;
    border: 2px dashed #6B6B6B;
    color: #ddd;
    background-color: #777777;
    border-radius: 5px;
    min-height: 50px;
    padding: 54px 54px;
    box-sizing: border-box;
}
.dropzone .dz-message {
    font-weight: 400;
}
.dropzone .dz-message {
    text-align: center;
    margin: 2em 0;
}
.dropzone label{
	text-align: center;
}
.dropzone .form-group{
	width:80%;
	margin-left: auto;
	margin-right: auto;
}
.dropzone .dz-preview .dz-image{
	border-radius: 0px;
}
#info{
    margin-top: 30px;
    font-size: 14px;
}
.alert{
    font-size: 14px;
}