body{
	background-color: #414042;
	color: #fff;
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 22px;
}

.navbar{
	margin-bottom: 0;
    border-bottom: 1px solid;
	text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	background-color: #272629;
	border-color: transparent;
}

.navbar .navbar-brand{
	width: 240px;	
	color: #0dea8b;
	text-align: center;
}
.navbar-default .navbar-nav > li > a {
	
    color: #0dea8b;
}
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    color: #0dea8b;
    background-color: #4b4851;
    
 }
 footer{
 	font-size: 10px; 	
 	text-align: center;
 	color: #515151;
 }
footer a:link, a:active, a:visited{
 	color: #515151;
 	text-decoration: none; 	
 }

 footer a:hover{
 	color: #777777;
 	text-decoration: none;
 }
