body{
	background-color: #414042;
	color: #fff;
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 16px;
    background-image: url("http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/binding_dark.png");
}

h1{
	font-weight: 700;
    letter-spacing: 1px;
}

h3, h4{
	color: #337ab7;
	text-decoration-style: bold;
}
div.img {
    margin: 5px;
    border: 3px solid #777;
    float: left;
    width: auto;
}

div.img:hover {
    border: 3px solid #337ab7;
}

div.img img {
    width: auto;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

a:link, a:visited, a:active {
    text-decoration-style: bold;
    color: #337ab7;
}

/* BUTTONS */
.btn {
    border-radius: 18;
    text-transform: uppercase;
    font-weight: 400;
    width: 165px;
}
.btn-default {
    border: 1px solid #337ab7;
    color: #337ab7;
    background-color: #272629;
}
.btn-default:hover,
.btn-default:focus {
    border: 1px solid #337ab7;
    outline: 0;
    color: #fff;
    background-color: #337ab7;
}

/* NAVBAR */
.navbar{
	margin-bottom: 0;
    border-bottom: 1px solid;
	text-transform: uppercase;
	background-color: #272629;
	border-color: transparent;
	box-shadow: 0px -2px 0px 0px #00B064 inset;
}
.navbar .navbar-brand{
	width: 240px;	
	color: #00B064;
	text-align: center;
}
.navbar-brand img{
    height: 42px;
    margin-top: -12px;
}
.navbar-inverse .navbar-nav > li > a {	
    color: #00B064;
}
.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover {
    color: #00B064;
    background-color: #4b4851;    
 }

.panel {
    border-color: #656169;
    background-color: transparent;
}

.panel-title{
    background-color: #272629;
}

.panel-group{
    background-color: #ababab;
}

.panel-default > .panel-heading{
    background-color: #272629;
}

.form-horizontal i{
    width: 64px;
    height: 64px;
    background-color: transparent;
}

.form-horizontal i:hover, .form-horizontal i:active{
    color: #337ab7;
    
}

footer{
    background-color: rgba(33,33,33,0.2);
    padding-top: 10px;
	margin-top: 30px;
 	font-size: 10px; 	
 	text-align: center;
 	color: #6D6D6D;
 }
footer a:link, footer a:active, footer a:visited{
 	color: #6D6D6D;
 	text-decoration: none; 	
 }
footer img{
    display:block;;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.05;
}
footer img:hover{
    opacity: 0.3;
}

 footer a:hover{
 	color: #777777;
 	text-decoration: none;
 }
.get-image{
    margin-top: 15px;
 }
.get-image .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    background-color: #272629;
    color:#555;
}
.get-image .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    border: 0px;
    border-bottom: 2px solid #272629;
}
.get-image .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus{
    color: #555;
}
.get-image .nav-tabs {
    border-bottom: 1px solid #333;
}
.get-image .active {
    border-bottom: 0px;
}
.get-image #url-input form{
    padding: 25px 40px;
}
.get-image .alert{
    margin: 20px;
}

#image-upload.dz-clickable {
    cursor: pointer;
}
#image-upload {
    #border: 2px dashed #444;
    border: 0px;
    min-height: 300px;
    color: #fff;
    background-color: #272629;
    border-radius: 0px;
    min-height: 50px;
    padding: 54px 54px;
    box-sizing: border-box;
}
#image-upload .dz-message {
    font-weight: 400;
}
#image-upload .dz-message {
    text-align: center;
    margin: 2em 0;
}
#image-upload label{
	text-align: center;
}
#image-upload .form-group{
	width:80%;
	margin-left: auto;
	margin-right: auto;
}
#image-upload .dz-preview .dz-image{
	border-radius: 0px;
}
#url-input{
    min-height: 300px;
    background-color: #272629;
    color: #ccc;
}
#info{
    margin-top: 30px;
    font-size: 14px;
}
.alert{
    font-size: 14px;
}
.form-icon{
    width: 100%;
}
.header{
    color: #ddd;
    padding: 10px 20px;
}
.header h1{
    color: #ddd;
}
#get-results, #dashboard-results{
    padding: 20px;
    background-color: rgba(200,200,200, 0.5);
}
#get-results .title, #get-results .license, #dashboard-results .title, #dashboard-results .license{
    text-align: center;
    padding: 5px;
    background-color: #272629;
    color:#ccc;
    border-bottom: 1px solid #333;
}
#get-results .btn,#dashboard-results .btn {
    width:100%;
}
#get-results .btn-default, #dashboard-results .btn-default{
    border: 0px;
    border-radius: 0px;
}

#get-loader i{
    margin-left: auto;
    margin-right: auto;
}
#get-loader{
    padding: 150px 20px;
}
.dropdown-menu img{
    background-color: #272629;
    height:30px;
}
#dashboard-results .thumbnail{
    background-color: #272629;
    border: 0px;
    border-radius: 0px;
}
#dashboard-results .thumbnail img{    
    height: 175px;
}
#dashboard-results .title{
    margin-top: -20px;
}
#dashboard-results .col-md-4{
    margin-bottom: 20px;
}